*{
	outline:0;
}
.wrapper{
	width: 970px;
	background-color: rgb(233, 249, 209);
	margin: 0 auto;
	height: 860px;
}
h1{
	width: 100px;
	font-size: 60px;
	font-weight: bold;
	margin-left: 50px;
	margin-bottom: 0px;
	font-style: italic;
	display: inline-block;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-top: 0;
	padding-left: 135px;
	display: inline-block;
}
section{
	margin-left: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
article{
	margin-left: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.main_content{
	width: 870px;
	background-color: lemonchiffon;
	margin: 0 auto;
	height: 590px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.form_box{
	width: 370px;
	margin-top: 20px;
	margin-left: 40px;
	border: 5px solid black;
	border-radius: 20px;
	padding: 20px;
	display: inline-block;
	position: absolute;
}
.form_box label{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;

}
.form_box input[type=text], input[type=email]{
	display: block;
	margin-top: 10px;
	width: 180px;
	height: 30px;
	border-radius: 5px;
	border-bottom: 2px solid lightseagreen;
	border-right: 2px solid lightseagreen;
}
#submit{
	margin-top: 20px;
	margin-left: 40px;
}
.form_box h2{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.demo{
	width: 200px;
	margin-top: 20px;
	margin-left: 490px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	display: inline-block;
}
.demo button{
	width: 190px;
	display: block;
	height: 25px;
	margin: 5px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.add_this{
	border-color: red;
}
img{
	border: 5px solid black;
	border-radius: 10px;
	margin-left: 170px;
	margin-top: 380px;
	position: absolute;
}